.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 8px 24px;
}

.audit {
  background: '[theme:neutralLighterAlt, default: #faf9f8]';
  border-radius: 6px;
  display: grid;
  gap: 4px 12px;
  grid-template-columns: max-content minmax(0, 1fr);
  padding: 12px;
}

.audit label,
.audit span {
  overflow-wrap: anywhere;
  padding: 5px 0px;
}

.footer {
  display: flex;
  gap: 8px;
}
